# =====================
# DATABASE (PostgreSQL)
# =====================
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password postgres
DB_NAME=user_products_db

# =====================
# JWT
# =====================
JWT_SECRET=
JWT_EXPIRES_IN=24h

# =====================
# APP
# =====================
APP_PORT=3000
NODE_ENV=development

# =====================
# EMAIL (MailHog local con Docker)
# =====================
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USER=
MAIL_PASS=
MAIL_FROM=noreply@pruebatecnica.com

# URL del frontend (para el link de reset)
FRONTEND_URL=http://localhost:5173
